[submodule "third_party/simde"]
	path = third_party/simde
	url = https://github.com/simd-everywhere/simde
	branch = master
[submodule "third_party/xxHash"]
	path = third_party/xxHash
	url = https://github.com/Cyan4973/xxHash
	branch = dev
[submodule "third_party/CMSIS-DSP"]
	path = third_party/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP
	branch = main
[submodule "third_party/CMSIS_6"]
	path = third_party/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6
	branch = main
[submodule "third_party/libDaisy"]
	path = third_party/libDaisy
	url = https://github.com/electro-smith/libDaisy
	branch = master
[submodule "third_party/teensy_cores"]
	path = third_party/teensy_cores
	url = https://github.com/paulstoffregen/cores
	branch = master
